/*********** Обнулення ****************/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/**********************************************************/

html {
  font-family: "Arial", sans-serif;
  margin: 50px;
  background: url(img/back.jpg) 0 0 / 300px;
}

h1 {
  color: #94000c;
  margin-bottom: 50px;
  text-align: center;
  padding: 30px;
  font-size: 50px;
  text-decoration: underline;
  letter-spacing: 5px;
  font-style: italic;
  background: linear-gradient(
    90deg,
    rgba(49, 41, 182, 1) 0%,
    rgba(21, 228, 219, 1) 22%,
    rgba(240, 231, 53, 1) 50%,
    rgba(190, 0, 195, 1) 76%,
    rgba(255, 5, 26, 1) 100%
  );
  border-radius: 25px;
  box-shadow: 0 0 15px black;
}

a {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  padding: 30px;
  letter-spacing: 3px;
  background-color: rgb(204, 201, 0);
  border-radius: 25px;
  color: #0003b6;
  box-shadow: 0 0 15px black;
  transition: all 0.3s;
}
a:hover {
  background-color: rgb(241, 237, 39);
  text-decoration: underline;
}

ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.button-back {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: rgb(46, 187, 3);
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  transition: all 0.3s;
}
.button-back:hover {
  background-color: rgb(52, 218, 2);
}

img:not(:last-child) {
  margin-bottom: 30px;
}

p {
  font-size: 25px;
  line-height: 1.4;
  background-color: rgba(0, 203, 30, 0.845);
  padding: 20px;
  border-radius: 25px;
  max-width: 1200px;
}
p:not(:last-child) {
  margin-bottom: 30px;
}

table {
  border: 5px solid rgb(0, 52, 17);
}
tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  background-color: #015c7a;
}
tr:not(:last-child) {
  border-bottom: 3px solid black;
}
th {
  font-size: 25px;
  color: #99c300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
td {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #66bdff;
}
